@tailwind base;
@tailwind components;
@tailwind utilities;

.borderInMeal {
    border: 2px dashed #80BC42;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}