@tailwind base;
@tailwind components;
@tailwind utilities;

.borderInMeal {
  border: 2px dashed #80BC42;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.mealbackground {
  background-image: url("./assets/mealBackground.svg");
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Style the custom scrollbar track */
.scrollbar-hide::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  /* Change this color as needed */
}

/* Style the custom scrollbar thumb */
.scrollbar-hide::-webkit-scrollbar-thumb {
  background-color: #888;
  /* Change this color as needed */
  border-radius: 8px;
  /* Adjust the border-radius as needed */
}

/* .home_background{
    background-image: url("./background.svg");
      background-color: rgb(162, 12, 12);
      object-fit: contain;
  } */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.product-box-Shadow {
  -webkit-box-shadow: 0 0 7.5px 5.5px #f5f5f5;
  -moz-box-shadow: 0 0 7.5px 5.5px #f5f5f5;
  box-shadow: 0 0 7.5px 5.5px #f5f5f5;
}

.header-box-shadow {
  -webkit-box-shadow: 0 0 10px 0 #8a8686;
  -moz-box-shadow: 0 0 10px 0 #8a8686;
  box-shadow: 0 0 10px 0 #8a8686;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.next,
.prev {
  top: calc(50% - 20px);
  position: relative;
  background: rgba(5, 5, 5, 0.583);
  border-radius: 30px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 23px;
  z-index: 2;
}

.next {
  right: 10px;
}

.prev {
  left: 10px;
  transform: scale(-1);
}

.carousel {
  display: inline-flex;
  width: 200px;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.home {
  background-image: url(./assets/yuorsbgc.svg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
}

.home1 {
  background-image: url(./assets/home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
}



.headerbackground {
  background-image: url(./assets/headerbackg.svg);
  background-color: #E91D24;
  background-blend-mode: overlay;
  min-height: 100%;
}

.bannerback {
  background-image: url(./assets/banner.png);
  background-size: cover;
  background-position: center;
  /* background-repeat: no-repeat; */
}

.bannerbottom {
  background-image: url(./assets/landingbanner.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.black-text-shadow {
  text-shadow: 5px 5px 10px #020202, 0 0 1em rgb(15, 15, 16), 0 0 0.2em rgb(26, 26, 28);
}